<div class= "container px-5" >
  <div class= "row">
    <!--userinfo/投稿フォーム-->
    <%= render partial: 'books/user_post', locals: { user: @user, book: @book } %>

    <!--投稿一覧-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <!--並び替えの表示-->
      <%= link_to '新しい順', books_path(latest: "true") %>
      |<%= link_to '古い順', books_path(old: "true") %>
      |<%= link_to '評価の高い順', books_path(star_count: "true") %>
        
        <%= render 'index', books: @books %>
    </div>
  </div>
</div>