<div class= "container px-5">
  <div class= "row" >
    <!--userinfo/投稿フォーム-->
    <%= render partial: 'books/user_post', locals: { user: @user, book: @book } %>
    
    <!--投稿詳細-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table">
          <tr>
            <td>
              <%= image_tag @book_show.user.get_profile_image(100,100)%><br>
              <%= link_to @book_show.user.name,user_path(@book_show.user.id) %>
            </td>
            <td><%= link_to @book_show.title,book_path(@book_show.id) %></td>
            <td><%= @book_show.body %></td>
            <td><%= render 'favorites/btn', book:@book_show %></td>
            <td><p>コメント数:<%=@book_show.book_comments.count%></p></td>
            <% if @book_show.user == current_user %>
            <td><%= link_to "Edit",edit_book_path(@book_show.id),class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book_show.id), method: :delete ,class:"btn btn-danger" %></td>
            <% end %>
          </tr>
        </table>
    <!--コメントの表示-->
    <%= render 'book_comments/index', book_show:@book_show%>
    <!--コメントの投稿フォーム-->
    <div class="comment-post">
      <%= form_with model: [@book_show, @book_comment] do |f| %>
      <%= f.text_area :comment %>
      <p><%= f.submit "送信" %></p>
      <% end %>
    </div>
        
    </div>
    
  </div>
</div>